.title {
    position: relative;
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 60%;
    text-align: center;
}

.choices {
    font-family: 'Microsoft JhengHei';
    font-size: 100%;
    width: 60%;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-left: 20%;
}

.bt {
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    border-radius: 5px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.bt1 {
    background-color: #f3bf16;
    color: white;
    font-family: 'Microsoft YaHei';
    font-size: medium;
}

.bt1:hover {
    background-color: white;
    color: black;
    border: 2px solid #f3bf16;
}

.result {
    position: relative;
    width: 65%;
    margin-left: 20%;
    height: 480px;
}


.tb {
    position: relative;
    /* top: 400px; */
    width: 80%;
    margin-left: 30%;
    display: block;
    font-family: 'Microsoft JhengHei';
}

td,
th {
    border: 1px solid black;
    /* border-bottom: 1px solid black; */
    /* border-inline: 1px solid black; */
}

th {
    background-color: #f3bf16;
    color: white;
}

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 28%;
    /* border: 1px solid black; */
}

.table_title {
    text-align: center;
    font-size: 100%;
    font-weight: bold;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#header
    {
        margin:0px auto;
        text-align:center;
        height: 250px;
        
    line-height: 150px;

    background-image: linear-gradient(#eca868, #fcf2e1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
        
    }

    #choice
    {
        z-index: 5;
        top: -80px;
        position:relative;
        margin:0px auto;
        text-align:center;
        box-shadow: 6px 6px 5px 5px rgba(0,0,0,0.2);
        width: 40%;
        background-color: rgb(233, 232, 232);
        border-radius: 8px;
        padding: 25px;
    }

    #output
    {
        margin:0px auto;
        text-align:center;
        box-shadow: 6px 6px 5px 5px rgba(0,0,0,0.2);
        background-color: rgb(233, 232, 232);
        width: 40%;
        padding: 25px;
        border-radius: 8px;
    }
    #summary
    {
        margin:auto;
        border-color:black;
    }
